.hero {
    height: 510px;
    background-color: #E7E7EA;
}

.chair img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 510px;
    object-fit: contain;
}

.hero-text {
    height: 225px;
    width: 450px;
}

.hero-text p {
    color: var(--primary);
}

.price-off {
    color: var(--primary);
}

.pricec
{
    width: 150px;
}

.bordr-color
{
    border-color:#005CFF;
}
.text-colo
{
    color: #005CFF;
}
.bg-color{
    background-color: #005CFF;
}
