.buy-button {
    background-color: var(--primary);
}

.ten-off {
    background-color: #5EC0BE;
}

.product-description {
    height: 500px;
}

.image-side {
    
    background-color: #C2C2C2;
}




.banner
{
    width: 1177px;
    height: 747px;
}